
@{
    ViewBag.Title = "About";
}

<body style="background-image: url('../../Content/3.jpg');">
   
        <h2>@ViewBag.Title.</h2>
        <h3>@ViewBag.Message</h3>
        <p>We provide our patients with facilities that are best in out area. we are open 24/7. our clinic originated in 1994 . with facilities that are best in out area. we are open 24/7. our clinic originated in 1994 .with facilities that are best in out area. we are open 24/7. our clinic originated in 1994 .with facilities that are best in out area. we are open 24/7. our clinic originated in 1994 .with facilities that are best in out area. we are open 24/7. our clinic originated in 1994 . <br/><br/> Our misson is to provide best healthcare servies accisible to all communities in our area. with facilities that are best in out area. we are open 24/7. our clinic originated in. <br><br></p>
   
</body>